html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: black; 
  background-color: #FEFEFE;
}

body {
  position: inherit;
  width: 1000px;
  margin: 0 auto;
}
.headerContainer {
  position: relative;
  margin: 25px 0px;
  border-radius: 20px;
  box-shadow: 5px 2px 10px black;
  overflow: hidden;
}

.headerContainer img{
  margin: 25px;
  margin-right: 50px;
  border-radius: 25px;
  width: 400px;
  float: left;
}
.headerContainer .title{
  margin-top: 25px;
  float: left;
}
.headerContainer h1 {
  position: inherit;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 500;
}

.logoContainer{
  position: relative;
  float: left;
  margin-left: 10px;
  height: 150px;
  border: 1px solid black;
}

.logoContainer .logoButton{
  position: relative;
  float: left;
  margin: 25px;
  background-color: skyblue;
  height: 100px;
  width: 100px;
}

.headerContainer .triangle {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 0;
  margin: 15px;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent #7FBDFF transparent;
  box-shadow: 3px 3px 3px;
}

.triangle:hover {
  cursor: pointer;
}

.triangle:active {
  border-color: transparent transparent #4ca2ff transparent;
  box-shadow: 1px 1px 0px;
}

.contentContainer{
  margin: 10px;
}
.aboutContainer {
  height: 425px;
}

.aboutMe p{
  margin: 0px 30px;
  line-height: 200%;
}

.set {
  width: 17%;
  margin-left: 3%;
  float: left;
}

.set h3 {
  margin-top: 0;
  margin-left: 22px;
}

.projectsContainer{
  position: relative;
  width: 100%;
  border: 1px solid black;
}

.projectsContainer h3{
  text-align: center;
}

.project {
  float: left;
  width: 30%;
  text-align: center;
  margin: 0px 15px;
}
.project .projectHeight{
  height: 365px;
}
.project img{
  width: 99%;
  border-radius: 20px;
}


.project p {
  margin-top: 0px;
}



